  <div class="container">
      <div id="parties-content">
          <div class="parties-body">
              <div style="height: 100%; width: 100%; position: relative;">
                <%= link_to "Ma collection", collections_path(:user_id), class: "modalBtn green", style: "position: absolute; top: 0; left: 0; margin: 50px 50px;" %>
                <% image_name = current_user.formatted_character_image_name %>
                <% if image_name %>
                  <%= image_tag image_name, height: "auto", width: "35%", class: "avatar-parties" %>
                <% else %>
                  Aucun personnage trouvé
                <% end %>
                <div class="statistics-window">
                  <%# <% is_current_user = urrent_user.present? %>
                  <p class="parties-username"> CodiCoins </p>
                  <div id="parties-show-balance">
                    <p id="parties-balance"><%= current_user.balance %>
                    <%= image_tag "wheel2.png", id: "parties-unit" %>
                    </p>
                  </div>
                </div>
                <div class="parties-character-sentence">
                  <h5><%= @character&.nickname %></h5>
                  <p><em>"<%= @character&.personality %>"</em></p>
                </div>
                <div class="last-party" data-controller="playing-time end-level">
                  <p>Dernier niveau en cours : <%= "Niveau #{@current_level.number}" || '-' %></p>
                  <%# <p>Meilleur temps : <span data-end-level-target="chrono"></span></p> %>
                  <p>Temps de connexion : <span data-playing-time-target="duration"></span></p>
                </div>
              </div>
              <div class="playmodal-footer" style="height: 100%">
                <%# <button id="green" type="button"  class="modalBtn" data-bs-dismiss="modal">Play !</button> %>
                <%= link_to "Jouer !", party_path(current_user), class: "modalBtn green parties-btn" %>
              </div>
            </div>
    </div>
  </div>
