<%# créer le personnage %>
<%# bouton à destination de l'accueil %>

<div class="modal fade show d-block mt-5" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-ku">
    <div class="modal-content content-character">
      <%# <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       %>
      <div class="modal-body body-confirm">
      <h1 id="font-two">Bravo! tu as choisi</h1>
        <div class="row justify-content-center">
                <%= cl_image_tag(@character.photos[1].key, height: 360, class: 'd-block mx-auto') %>
                </div>
      <h2 id="font-two"><%= @character.nickname %></h2>
      <div class="modal-footer fix-footer-confirm">
        <%= link_to :new_collection do %>
        <span class="btn btn-default button-new"><i class="fa-solid fa-pencil"></i> Modifier</span>
        <% end %>
        <%= simple_form_for [@character, @party] do |f| %>
          <%= f.submit 'Jouer !', class: "btn btn-default button-new" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
