<div class="rampe">
      <% @user_levels.joins(:level).order(:number).each.with_index(1) do |user_level, index| %>
    <div class="drapeau-<%= index %>">
       <% if user_level.done || user_level.id == current_user.current_level.id%>
        <%= link_to level_path(user_level.level) do %>
          <%= image_tag "Drapeau vert.png", width: 200 , height: 200, class: "drapeau-position-#{index}" %>
        <% end %>
      <% else %>
        <%= image_tag "Drapeau rouge.png", width: 200 , height: 200, class: "drapeau-position-#{index}" %>
      <% end %>
      </div>
      <% end %>
</div>
<%= cl_image_tag(@character.photos[1].key, width: 260, height: 160, style: "object-fit: contain;", id: "board") %>

  <script>
    function triggerRide() {
      const image = document.getElementById("board");
      image.classList.add("animated");
      if (image) {
        setTimeout(() => {
          image.classList.remove("animated");
        }, 12810);
      }
    }

    function startAnimation() {
      // setInterval(triggerRide, 30000);
      triggerRide();
    }

    document.addEventListener('DOMContentLoaded', () => {
      startAnimation();
    });
  </script>
