<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li>
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li>
            <% if current_user.nil? %>
            <% else %>
            <a class="nav-link" href="/collections">Mon espace</a>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <i class="avatar dropdown-toggle codlogo" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">G</i>
              <% if current_user.nil? %>
              <div class="custom dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Connexion", new_user_session_path, class:"customhover dropdown-item"%>
              <% else %>
            <!-- Ajout d'une icone temporaire à la place de Sébastien en attendant un autre avatar -->
            <%# <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ayubna" /> %>
            <div class="custom dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Ma collection", collections_path, class:"customhover dropdown-item"%>
              <%= link_to "Mes meilleurs temps", parties_path, class:"customhover dropdown-item"%>
              <p class = "customhover dropdown-item">Codipoints <%= current_user.balance%></p>
              <%= link_to "Déconnexion", destroy_user_session_path, data: { "turbo-method": :delete }, class:"customhover dropdown-item"%>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
