<% navbar_class = "navbar navbar-expand-sm navbar-light navbar-lewagon" %>
<% navbar_class += " red-background" if local_assigns[:red_background] %>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="object-fit: contain;">
      <%= image_tag "logo_codingo.png", alt: "Le Wagon" %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li>
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li>
            <% if current_user.nil? %>
            <% else %>
            <a class="nav-link" href="/collections/new">Boutique</a>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "avatar_codingo.png",
              class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: { bs_toggle: "dropdown" },
              aria: { haspopup: "true", expanded: "false" }, style: "margin: 0px 10px;" %>
              <% if current_user.nil? %>
              <div class="custom dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Connexion", new_user_session_path, class:"customhover dropdown-item"%>
              <% else %>
            <div class="custom dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Ma collection", collections_path, class:"customhover dropdown-item"%>
              <%= link_to "Ma partie", party_path(current_user), class:"customhover dropdown-item"%>
              <%= link_to "Mon profil", parties_path, class:"customhover dropdown-item"%>
              <p class = "customhover dropdown-item">Codipoints <%= current_user.balance%></p>
              <%= link_to "Déconnexion", destroy_user_session_path, data: { "turbo-method": :delete }, class:"customhover dropdown-item"%>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
