<header id="homeheader">
  <div id="homeTitle" class="d-flex justify-content-center">
    <h2>Apprendre à coder en s'amusant !</h2>
  </div>
  <div id= "custom-banner" class="w-100 d-flex justify-content-between">
    <%= image_tag "bree_skate.png", alt: "Le Wagon", id: "leftPilar" %>
    <div>
      <%= image_tag "logo_codingo.png", alt: "Le Wagon", id: "codingo" %>
    </div>
    <%= image_tag "than_skate.png", alt: "Le Wagon", id: "rightPilar" %>
  </div>

  <!-- Button trigger modal -->
</header>
  <% if current_user.nil? %>
  <%= link_to 'Play Now', new_user_session_path, class:"goldenBtn homeBtn"%>
  <% elsif current_user.collections.empty? %>
  <%= link_to 'Play Now', new_collection_path, class:"goldenBtn homeBtn"%>
  <% else %>
  <%= link_to 'Play Now',party_path(current_user), class:"goldenBtn homeBtn"%>
  <% end %>
<footer id="homefooter">
  <div class="d-flex container flex-row justify-content-evenly" style="gap: 3rem;">
    <div class="card">
      <div class="imgBgd">
        <img src="/app/assets/images/Ours.png" alt="" style="object-fit: contain; width: 260; height: 160">
        <%= image_tag "corbye.png", alt: "Le Wagon", width: 260, height: 160, style: "object-fit: contain; transform: translate(-50%)" %>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <div class="imgBgd">
        <%= image_tag "lina.png", alt: "Le Wagon", width: 260, height: 160, style: "object-fit: contain;" %>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <div class="imgBgd">
        <%= image_tag "than.png", alt: "Le Wagon", width: 260, height: 160, style: "object-fit: contain;" %>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <%= image_tag "corbye_skate.png", alt: "Le Wagon", width: 260, height: 160, style: "object-fit: contain;", id: "board" %>


  <%= render "shared/playmodal" %>
  <script>
    function triggerRide() {
      const image = document.getElementById("board");
      image.classList.add("animated");
      if (image) {
        setTimeout(() => {
          image.classList.remove("animated");
          image.classList.add("hidden");
        }, 128310);
      }
    }

    function startAnimation() {
      // setInterval(triggerRide, 30000);
      triggerRide();
    }

    document.addEventListener('DOMContentLoaded', () => {
      startAnimation();
    });
  </script>
</footer>
