<header id="homeheader">
  <div id="homeTitle" class="d-flex justify-content-center">
    <h2>Apprendre à coder en s'amusant !</h2>
  </div>
  <div class="w-100 d-flex justify-content-between custom-banner">
    <%= cl_image_tag("codingo_images/Rabbit_xyp2na", alt:"Rabbit",crop: :thumb,width:300, height:400, object_fit:"contain", id: "leftPilar") %>
    <div id="homeLogo">
      <h1 class="codingo">CODINGO</h1>
    </div>
    <%= cl_image_tag("codingo_images/Ours", alt:"Ours",crop: :thumb,width:300, height:400, object_fit:"contain", id: "rightPilar") %>
  </div>

  <!-- Button trigger modal -->
</header>
  <button type="button" class="goldenBtn homeBtn" data-bs-toggle="modal" data-bs-target="#playModal">
    PLAY NOW!
  </button>
<footer id="homefooter">
  <div class="d-flex container flex-row justify-content-evenly" style="gap: 3rem;">
    <div class="card">
      <div class="imgBgd">
        <%= cl_image_tag("codingo_images/Rabbit_xyp2na", alt:"Rabbit",crop: :thumb,width:260, height:160, object_fit:"contain") %>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <div class="imgBgd">
        <%= cl_image_tag("codingo_images/Rati", alt:"Rati",crop: :thumb,width:260, height:160, object_fit:"contain") %>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <div class="imgBgd">
        <%= cl_image_tag("codingo_images/Ours", alt:"Ours",crop: :thumb,width:260, height:160, object_fit:"contain") %>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <%= cl_image_tag("codingo_images/Leo_e9vbxi", alt: "animated lion on a skate board", crop: :thumb, width: 120, height: 120, id: "lionboard") %>


  <%= render "shared/playmodal" %>
  <script>
    function triggerRide() {
      const image = document.getElementById("lionboard");
      image.classList.add("animated");
      if (image) {
        setTimeout(() => {
          image.classList.remove("animated");
        }, 20000);
      }
    }

    function startAnimation() {
      setInterval(triggerRide, 30000);
      triggerRide();
    }

    document.addEventListener('DOMContentLoaded', () => {
      startAnimation();
    });
  </script>
</footer>
