
  <div class="container">
    <%= render "theory"%>

  <!-- Modal -->
    <!-- Exo & IDE -->
      <div class="mt-5">
        <div class= "cadre-exercices">
        <iframe src="<%= @level.url %>" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>
      </div>

    <!-- Answer -->
    <div class="d-flex justify-content-center">
      <fieldset id="fieldset" data-controller="answer" data-answer-validation-value="<%=@level.validation%>">
          <%= render "success"%>
          <%= render "fail"%>
        <legend class="mb-2"><%= @level.question %></legend>
        <% @level.answers.each_with_index do |answer, index| %>
          <div class="answer-wrapper" data-answer-target="<%=@reponse[@counter]%>">
              <input class="answer-input" type="radio" id="scales_<%= index %>" name="scales"/>
              <label for="scales_<%= index %>" class="answer-label"><%= answer %></label>
          </div>
        <% @counter += 1 %>
        <% end %>
        <button id="answer-response" type="submit" class="modalBtn mt-2 green" data-action="click->answer#check">Répondre !</button>
        <h4>Nombre de tentative(s) restante(s) : <span id="counter" data-answer-target = "compteur">3</span></h4>
      </fieldset>
      <%= cl_image_tag(@character.photos[0].key, height: 360, class: 'm-5') %>
    </div>
</div>
