<body style="background-color: #F6F3C8">
 <div class="container">
    <%= render "theory"%>

    <!-- Exo & IDE -->
      <div class="mt-5">
      <iframe src="<%= @level.url %>" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
      </div>

    <!-- Answer -->
      <fieldset data-controller="answer" data-answer-validation-value="<%=@level.validation%>">
          <%= render "success"%>
          <%= render "fail"%>
        <legend>Qu'est-il afficher sur le terminal ?</legend>
        <% @level.answers.each do |answer| %>
          <div data-answer-target="<%=@reponse[@counter]%>">
            <input type="radio" id="scales" name="scales"/>
            <label for="scales"><%= answer %></label>
          </div>
          <% @counter += 1 %>
        <% end %>
        <button type="submit" class="modalBtn mt-2" data-action="click->answer#check">Répondre !</button>
        <h4 data-answer-target = "compteur">Nombre de tentatives restantes : 3</h4>
      </fieldset>
 </div>
    <!-- Modal -->
</body>
