<div style="background-image: url('https://res.cloudinary.com/djp2y2hvl/image/upload/v1717751247/codingo_images/Background_lbnvro.png'); background-size: fill; height: 100vh; ;">
    <%#= render "theory"%>

  <!-- Modal -->

    <div class="container toleft">
    <!-- Exo & IDE -->
      <div id="overlay"></div>
      <div class="mt-5">
        <iframe src="<%= @level.url %>" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
      </div>

    <!-- Answer -->
      <fieldset id="fieldset" data-controller="answer" data-answer-validation-value="<%=@level.validation%>">
          <%= render "success"%>
          <%= render "fail"%>
        <legend class="mb-2">Qu'est-il afficher sur le terminal ?</legend>
        <% @level.answers.each_with_index do |answer, index| %>
          <div class="answer-wrapper" data-answer-target="<%=@reponse[@counter]%>">
              <input class="answer-input" type="radio" id="scales_<%= index %>" name="scales"/>
              <label for="scales_<%= index %>" class="answer-label"><%= answer %></label>
          </div>
        <% @counter += 1 %>
        <% end %>
        <button id="answer-response" type="submit" class="modalBtn mt-2 green" data-action="click->answer#check">Répondre !</button>
        <h4>Nombre de tentative(s) restante(s) : <span id="counter" data-answer-target = "compteur">3</span></h4>
      </fieldset>
    </div>
</div>
