<!DOCTYPE html>
<html>
  <head>
    <title>Codingo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <% if current_page?(root_path) %>
    <body>
      <%= render "shared/navbar", red_background: false %>
  <% else %>
    <body class="background-image">
      <%= render "shared/navbar", red_background: true %>
  <% end %>
  <%= yield %>
</body>
</html>
